﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("~/Views/Partials/Header.cshtml")
    <div class="row">
        <div class="medium-12 columns" role="content">
            @RenderBody()
            <!-- GOT A QUESTION FOR MOBILE ONLY-->
        </div>
    </div>
    <div class="row">
        @Html.Partial("~/Views/Partials/Footer.cshtml")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
