﻿<footer>
    <div class="medium-6 columns">
        <address>
            Address 1<br />
            Address 2<br />
            <abbr title="Phone">P:</abbr>
        </address>
    </div>
    <div class="medium-6 columns">
        <address>
            <strong>Contact:</strong>   <a href="#">email@example.com</a><br />
        </address>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <p>&copy; @DateTime.Now.Year - Takka Productions Ltd.</p>
        </div>
    </div>
</footer>