﻿<div class="row">
    <div class="large-6 columns right">
        <img src="http://placehold.it/200x50" class="logo">
    </div>
    <div class="large-6 columns">
        <h1><strong>Site Name</strong></h1>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        @Html.Partial("~/Views/Partials/Navigation.cshtml")
    </div>
</div>