﻿<nav class="top-bar">
    <ul class="menu">
        <li class="medium-4 small-12 columns">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="medium-4 small-12 columns">@Html.ActionLink("About", "About", "Home")</li>
        <li class="medium-4 small-12 columns">@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</nav>